body {
  width: 960px;
  max-width: 100%;
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 2em;
}

img {
  max-width: 100%;
}
/* Modifying the navigation menu but not the bullets in the 
   features ul */
nav > ul {
  list-style-type: none;
  margin-left: -40px;
}

/* remove bullet points from features nav bar as well */
nav > ul > li > ul {
  list-style-type: none;
}

/* active for links */
a:active {
  color: #222e50;
}

h2 {
  color: #b3679b;
  background-color: #efefef;
  border-radius: 5px;
  padding: 10px;
  border: 2px #222e50 solid;
}

a {
  color: #b3679b;
}

.home-feature {
  border: 2px #222e50 solid;
  border-radius: 20px;
  width: 33%;
  text-align: center;
  padding: 20px;
  margin: 20px;
}

td {
  padding: 20px;
}

/* the first td in that row where the parent is an odd numbered row */
tr:nth-child(odd) > td:nth-child(1) {
  background-color: #f2f2f2;
  text-align: center; /* center the photo */
}

.feature-title {
  font-weight: bold;
}

.feature-container {
  background-color: #efefef;
  border-radius: 20px;
  border: 2px #222e50 solid;
  padding: 10px;
  margin: 20px;
}
/* this only selects paragraph tags that are
   the first child of feature-container 
 (centers the heading which is the first paragraph tag) */
.feature-container p:first-child {
  font-size: 20px;
  text-align: center;
}

/* this only selects paragraph tags that are
   the last child of feature-container 
(which is the back to top) paragraph */
.feature-container p:last-child {
  font-weight: bold;
  text-align: right;
}

/* feature container img is affecting the image */
/* in order for img to be centered and for
 margin and display to work, need to specify width of image */
.feature-container img {
  text-align: center;
  width: 300px;
  border-radius: 20px;
  margin: auto;
  display: block;
}

.community > div {
  border: 2px #222e50 solid;
  border-radius: 10px;
  padding: 10px;
  margin: 30px;
  text-align: center;
  width: 33%;
}
/* bold title of event */
.community > div p::first-line {
  font-weight: bold;
}

/* italicizing datetime for community event */
.datetime {
  font-style: italic;
}

/* gets first div whose parent is community class */
.community > div:nth-of-type(1) img {
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 10px #7ca982 solid;
}

/* gets second div whose parent is community class */
.community > div:nth-of-type(2) img {
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 10px #e6a563 solid;
}

/* gets third div whose parent is community class */
.community > div:nth-of-type(3) img {
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 10px #b36793 solid;
}
